/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1366px) {
	
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
	.button-show-search {
		display: inline-block;
	}
	.widget-search {
		display: none;
	}
	#logo:before {
		content: none ;
	}
	#logo a img {
	    width: 125px;
	}
	.header-inner .wrap-menu {
		margin: 0;
	}
}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	#mainnav {
		display: none;
	}
	.btn-menu {
		display: block ;
	}



	.button-show-search {
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    cursor: pointer;
	    display: inline-block;
	    padding-top: 5px;
	    margin-top: 17px;
	    margin-right: 10px;
	    position: absolute;
	    display: none;
	}

	.button-show-search i {
	    font-size: 20px;
	    color: #fff;
	}

	.button-show-search {
	    display: inline-block;
	    float: right;
	    position: relative;
	}

	.header-inner .wrap-menu {
	    margin-right: -28px;
	}

}

/* Tablet Landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	
}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	.top{
		display: none;
	}
}

@media (max-width: 320px) {	
	
}

