/* Divider
-------------------------------------------------------------- */
.hoa-divider {
	position: relative;
	width: 100%;
}

.hoa-divider.divider20{
	height: 20px;
}

.hoa-divider.divider30{
	height: 30px;
}
.hoa-divider.divider50{
	height: 50px;
}
.hoa-divider.divider100{
	height: 100px;
}

/*Top
--------------------------------------------------------------*/



